In [2]:
import sklearn
import pandas
import numpy
import seaborn
import re
import matplotlib

    Name  Age      City
0   John   25  New York
1  Alice   28    London
2    Bob   32     Paris